h1{
    color:orange ;
	font-weight: bolder;
	line-height: 1.1em;
	margin: 0 0 .5em 0;
	text-align: center;
	font-family: "Times New Roman", Times, sans-serif;
	
	font-size:300%;
}

body{
    font-family:helvetica ; font-size: 100%; line-height: 1.2em; width: 100%; margin: 10; background:#eee;
}
#inputbox{
 	border:none;
	padding: 15px 32px;
	display: inline-block;
    font-size: 16px;
    border-radius:12px;
    width:1000px;
 }